/* styles.css */
:root {
  --default-white: #fff;
  --copy-action: #3d85c6;
  --clear-action: #d9534f;
  --copy-clear-action: #5cb85c;
  --hover-button-background: #f2f2f2;
}

.word-sum textarea {
  min-height: 150px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
  margin-bottom: 10px;
}

.word-sum p {
  margin-top: 10px;
}

.word-sum .button-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

/* Customize button styles */
.word-sum button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
}

.word-sum button.copy-button {
  background-color: var(--copy-action);
  color: var(--default-white);
}

.word-sum button.copy-button:hover {
  background-color: var(--hover-button-background);
  color: var(--copy-action);
}

.word-sum button.clear-button {
  background-color: var(--clear-action);
  color: var(--default-white);
}

.word-sum button.clear-button:hover {
  background-color: var(--hover-button-background);
  color: var(--clear-action);
}

.word-sum button.copy-clear-button {
  background-color: var(--copy-clear-action);
  color: var(--default-white);
}

.word-sum button.copy-clear-button:hover {
  background-color: var(--hover-button-background);
  color: var(--copy-clear-action);
}

.word-sum .notification {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.2s;
}
